In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df = pd.read_csv('../../ML/Assi3/Churn_Modelling.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [11]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [13]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [14]:
df.shape

(10000, 14)

In [15]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [16]:
df.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [20]:
X = df.iloc[:,3:13]
y = df.iloc[:,-1]

In [21]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [22]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [25]:
from sklearn.preprocessing import LabelEncoder

label_enc = LabelEncoder()

In [26]:
X['Gender'] = label_enc.fit_transform(X['Gender'])
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,0,42,2,0.00,1,1,1,101348.88
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58
2,502,France,0,42,8,159660.80,3,1,0,113931.57
3,699,France,0,39,1,0.00,2,0,0,93826.63
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64
9996,516,France,1,35,10,57369.61,1,1,1,101699.77
9997,709,France,0,36,7,0.00,1,0,1,42085.58
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52
9999,792,France,0,28,4,130142.79,1,1,0,38190.78

In [27]:
X['Geography'] = label_enc.fit_transform(X['Geography'])
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,0,1,39,5,0.00,2,1,0,96270.64
9996,516,0,1,35,10,57369.61,1,1,1,101699.77
9997,709,0,0,36,7,0.00,1,0,1,42085.58
9998,772,1,1,42,3,75075.31,2,1,0,92888.52
9999,792,0,0,28,4,130142.79,1,1,0,38190.78

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [31]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [32]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [33]:
X_train

array([[ 0.35649971, -0.9055496 ,  0.91324755, ...,  0.64920267,
         0.97481699,  1.36766974],
       [-0.20389777,  0.30164867,  0.91324755, ...,  0.64920267,
         0.97481699,  1.6612541 ],
       [-0.96147213,  1.50884694,  0.91324755, ...,  0.64920267,
        -1.02583358, -0.25280688],
       ...,
       [ 0.86500853, -0.9055496 , -1.09499335, ..., -1.54035103,
        -1.02583358, -0.1427649 ],
       [ 0.15932282, -0.9055496 ,  0.91324755, ...,  0.64920267,
        -1.02583358, -0.05082558],
       [ 0.47065475,  0.30164867,  0.91324755, ...,  0.64920267,
         0.97481699, -0.81456811]])

In [34]:
X_test

array([[-0.57749609,  0.30164867,  0.91324755, ..., -1.54035103,
        -1.02583358, -1.01960511],
       [-0.29729735, -0.9055496 ,  0.91324755, ...,  0.64920267,
         0.97481699,  0.79888291],
       [-0.52560743,  1.50884694, -1.09499335, ...,  0.64920267,
        -1.02583358, -0.72797953],
       ...,
       [ 0.81311987, -0.9055496 , -1.09499335, ...,  0.64920267,
        -1.02583358, -1.16591585],
       [ 0.41876609, -0.9055496 ,  0.91324755, ...,  0.64920267,
        -1.02583358, -0.41163463],
       [-0.24540869,  0.30164867,  0.91324755, ...,  0.64920267,
         0.97481699,  0.12593183]])

In [35]:
print(X_train.shape)
print(X_test.shape)

(8000, 10)
(2000, 10)

In [36]:
from keras.models import Sequential
from keras.layers import Dense

In [37]:
classifier = Sequential()

In [39]:
classifier.add(Dense(units=6,activation='relu',input_shape=(X_train.shape[1],)))

In [40]:
classifier.add(Dense(units=6,activation='relu'))

In [41]:
classifier.add(Dense(1,activation='sigmoid'))

In [42]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_1 (Dense)             (None, 6)                 66

 dense_2 (Dense)             (None, 6)                 42

 dense_3 (Dense)             (None, 1)                 7

=================================================================
Total params: 115 (460.00 Byte)
Trainable params: 115 (460.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [43]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [44]:
hist = classifier.fit(X_train,y_train,validation_split=0.2,batch_size=32,epochs=200)

Epoch 1/200
200/200 [==============================] - 2s 4ms/step - loss: 0.6046 - accuracy: 0.7205 - val_loss: 0.4965 - val_accuracy: 0.7981
Epoch 2/200
200/200 [==============================] - 0s 2ms/step - loss: 0.4789 - accuracy: 0.7941 - val_loss: 0.4553 - val_accuracy: 0.8012
Epoch 3/200
200/200 [==============================] - 0s 2ms/step - loss: 0.4558 - accuracy: 0.7981 - val_loss: 0.4427 - val_accuracy: 0.8037
Epoch 4/200
200/200 [==============================] - 0s 2ms/step - loss: 0.4430 - accuracy: 0.8019 - val_loss: 0.4351 - val_accuracy: 0.8050
Epoch 5/200
200/200 [==============================] - 0s 2ms/step - loss: 0.4347 - accuracy: 0.8077 - val_loss: 0.4290 - val_accuracy: 0.8081
Epoch 6/200
200/200 [==============================] - 0s 2ms/step - loss: 0.4287 - accuracy: 0.8128 - val_loss: 0.4240 - val_accuracy: 0.8069
Epoch 7/200
200/200 [==============================] - 0s 2ms/step - loss: 0.4231 - accuracy: 0.8155 - val_loss: 0.4191 - val_accuracy: 0.8106
Epoch 8/200
200/200 [==============================] - 0s 2ms/step - loss: 0.4178 - accuracy: 0.8211 - val_loss: 0.4139 - val_accuracy: 0.8156
Epoch 9/200
200/200 [==============================] - 0s 2ms/step - loss: 0.4115 - accuracy: 0.8269 - val_loss: 0.4088 - val_accuracy: 0.8219
Epoch 10/200
200/200 [==============================] - 0s 2ms/step - loss: 0.4057 - accuracy: 0.8305 - val_loss: 0.4026 - val_accuracy: 0.8275
Epoch 11/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3990 - accuracy: 0.8353 - val_loss: 0.3973 - val_accuracy: 0.8313
Epoch 12/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3931 - accuracy: 0.8384 - val_loss: 0.3926 - val_accuracy: 0.8331
Epoch 13/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3875 - accuracy: 0.8431 - val_loss: 0.3878 - val_accuracy: 0.8350
Epoch 14/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3830 - accuracy: 0.8442 - val_loss: 0.3852 - val_accuracy: 0.8350
Epoch 15/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3791 - accuracy: 0.8453 - val_loss: 0.3813 - val_accuracy: 0.8363
Epoch 16/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3759 - accuracy: 0.8478 - val_loss: 0.3780 - val_accuracy: 0.8375
Epoch 17/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3722 - accuracy: 0.8486 - val_loss: 0.3747 - val_accuracy: 0.8419
Epoch 18/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3679 - accuracy: 0.8506 - val_loss: 0.3702 - val_accuracy: 0.8400
Epoch 19/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3643 - accuracy: 0.8545 - val_loss: 0.3694 - val_accuracy: 0.8406
Epoch 20/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3624 - accuracy: 0.8545 - val_loss: 0.3660 - val_accuracy: 0.8456
Epoch 21/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3599 - accuracy: 0.8570 - val_loss: 0.3655 - val_accuracy: 0.8475
Epoch 22/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3588 - accuracy: 0.8558 - val_loss: 0.3637 - val_accuracy: 0.8469
Epoch 23/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3576 - accuracy: 0.8548 - val_loss: 0.3621 - val_accuracy: 0.8444
Epoch 24/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3561 - accuracy: 0.8562 - val_loss: 0.3617 - val_accuracy: 0.8413
Epoch 25/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3553 - accuracy: 0.8561 - val_loss: 0.3606 - val_accuracy: 0.8450
Epoch 26/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3548 - accuracy: 0.8569 - val_loss: 0.3598 - val_accuracy: 0.8500
Epoch 27/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3535 - accuracy: 0.8552 - val_loss: 0.3589 - val_accuracy: 0.8494
Epoch 28/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3527 - accuracy: 0.8567 - val_loss: 0.3582 - val_accuracy: 0.8456
Epoch 29/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3523 - accuracy: 0.8556 - val_loss: 0.3573 - val_accuracy: 0.8494
Epoch 30/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3511 - accuracy: 0.8562 - val_loss: 0.3574 - val_accuracy: 0.8456
Epoch 31/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3504 - accuracy: 0.8553 - val_loss: 0.3560 - val_accuracy: 0.8494
Epoch 32/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3499 - accuracy: 0.8566 - val_loss: 0.3560 - val_accuracy: 0.8475
Epoch 33/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3495 - accuracy: 0.8570 - val_loss: 0.3552 - val_accuracy: 0.8481
Epoch 34/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3491 - accuracy: 0.8559 - val_loss: 0.3551 - val_accuracy: 0.8525
Epoch 35/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3480 - accuracy: 0.8555 - val_loss: 0.3549 - val_accuracy: 0.8462
Epoch 36/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3476 - accuracy: 0.8558 - val_loss: 0.3537 - val_accuracy: 0.8487
Epoch 37/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3468 - accuracy: 0.8572 - val_loss: 0.3533 - val_accuracy: 0.8512
Epoch 38/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3470 - accuracy: 0.8556 - val_loss: 0.3527 - val_accuracy: 0.8506
Epoch 39/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3465 - accuracy: 0.8562 - val_loss: 0.3532 - val_accuracy: 0.8512
Epoch 40/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3462 - accuracy: 0.8570 - val_loss: 0.3533 - val_accuracy: 0.8494
Epoch 41/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3458 - accuracy: 0.8575 - val_loss: 0.3522 - val_accuracy: 0.8512
Epoch 42/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3453 - accuracy: 0.8569 - val_loss: 0.3531 - val_accuracy: 0.8456
Epoch 43/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3449 - accuracy: 0.8581 - val_loss: 0.3517 - val_accuracy: 0.8525
Epoch 44/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3443 - accuracy: 0.8577 - val_loss: 0.3531 - val_accuracy: 0.8475
Epoch 45/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3444 - accuracy: 0.8592 - val_loss: 0.3519 - val_accuracy: 0.8531
Epoch 46/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3442 - accuracy: 0.8581 - val_loss: 0.3519 - val_accuracy: 0.8519
Epoch 47/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3439 - accuracy: 0.8578 - val_loss: 0.3522 - val_accuracy: 0.8512
Epoch 48/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3437 - accuracy: 0.8569 - val_loss: 0.3517 - val_accuracy: 0.8506
Epoch 49/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3430 - accuracy: 0.8586 - val_loss: 0.3510 - val_accuracy: 0.8544
Epoch 50/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3427 - accuracy: 0.8575 - val_loss: 0.3506 - val_accuracy: 0.8500
Epoch 51/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3424 - accuracy: 0.8595 - val_loss: 0.3501 - val_accuracy: 0.8500
Epoch 52/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3425 - accuracy: 0.8580 - val_loss: 0.3501 - val_accuracy: 0.8512
Epoch 53/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3423 - accuracy: 0.8586 - val_loss: 0.3500 - val_accuracy: 0.8519
Epoch 54/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3424 - accuracy: 0.8597 - val_loss: 0.3499 - val_accuracy: 0.8537
Epoch 55/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8592 - val_loss: 0.3495 - val_accuracy: 0.8550
Epoch 56/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8612 - val_loss: 0.3492 - val_accuracy: 0.8512
Epoch 57/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3418 - accuracy: 0.8598 - val_loss: 0.3490 - val_accuracy: 0.8519
Epoch 58/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3410 - accuracy: 0.8598 - val_loss: 0.3499 - val_accuracy: 0.8531
Epoch 59/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3415 - accuracy: 0.8597 - val_loss: 0.3488 - val_accuracy: 0.8519
Epoch 60/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3410 - accuracy: 0.8620 - val_loss: 0.3484 - val_accuracy: 0.8525
Epoch 61/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3405 - accuracy: 0.8606 - val_loss: 0.3488 - val_accuracy: 0.8531
Epoch 62/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3407 - accuracy: 0.8608 - val_loss: 0.3480 - val_accuracy: 0.8506
Epoch 63/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3403 - accuracy: 0.8600 - val_loss: 0.3477 - val_accuracy: 0.8537
Epoch 64/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8625 - val_loss: 0.3478 - val_accuracy: 0.8519
Epoch 65/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8606 - val_loss: 0.3468 - val_accuracy: 0.8531
Epoch 66/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3393 - accuracy: 0.8623 - val_loss: 0.3463 - val_accuracy: 0.8537
Epoch 67/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3394 - accuracy: 0.8609 - val_loss: 0.3459 - val_accuracy: 0.8531
Epoch 68/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3386 - accuracy: 0.8630 - val_loss: 0.3457 - val_accuracy: 0.8544
Epoch 69/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3387 - accuracy: 0.8630 - val_loss: 0.3452 - val_accuracy: 0.8531
Epoch 70/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8612 - val_loss: 0.3454 - val_accuracy: 0.8544
Epoch 71/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3382 - accuracy: 0.8619 - val_loss: 0.3448 - val_accuracy: 0.8525
Epoch 72/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3382 - accuracy: 0.8625 - val_loss: 0.3445 - val_accuracy: 0.8500
Epoch 73/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3377 - accuracy: 0.8620 - val_loss: 0.3442 - val_accuracy: 0.8519
Epoch 74/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8612 - val_loss: 0.3453 - val_accuracy: 0.8531
Epoch 75/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8630 - val_loss: 0.3443 - val_accuracy: 0.8525
Epoch 76/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8616 - val_loss: 0.3441 - val_accuracy: 0.8525
Epoch 77/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8614 - val_loss: 0.3437 - val_accuracy: 0.8512
Epoch 78/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8634 - val_loss: 0.3436 - val_accuracy: 0.8544
Epoch 79/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8616 - val_loss: 0.3445 - val_accuracy: 0.8500
Epoch 80/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8627 - val_loss: 0.3434 - val_accuracy: 0.8537
Epoch 81/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8644 - val_loss: 0.3432 - val_accuracy: 0.8512
Epoch 82/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8633 - val_loss: 0.3432 - val_accuracy: 0.8519
Epoch 83/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3357 - accuracy: 0.8628 - val_loss: 0.3434 - val_accuracy: 0.8537
Epoch 84/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3353 - accuracy: 0.8614 - val_loss: 0.3441 - val_accuracy: 0.8537
Epoch 85/200
200/200 [==============================] - 1s 3ms/step - loss: 0.3351 - accuracy: 0.8628 - val_loss: 0.3430 - val_accuracy: 0.8531
Epoch 86/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3352 - accuracy: 0.8623 - val_loss: 0.3423 - val_accuracy: 0.8512
Epoch 87/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3353 - accuracy: 0.8630 - val_loss: 0.3426 - val_accuracy: 0.8519
Epoch 88/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8636 - val_loss: 0.3429 - val_accuracy: 0.8519
Epoch 89/200
200/200 [==============================] - 1s 3ms/step - loss: 0.3348 - accuracy: 0.8644 - val_loss: 0.3442 - val_accuracy: 0.8519
Epoch 90/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8631 - val_loss: 0.3427 - val_accuracy: 0.8556
Epoch 91/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3347 - accuracy: 0.8644 - val_loss: 0.3431 - val_accuracy: 0.8525
Epoch 92/200
200/200 [==============================] - 1s 3ms/step - loss: 0.3345 - accuracy: 0.8645 - val_loss: 0.3433 - val_accuracy: 0.8562
Epoch 93/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3345 - accuracy: 0.8627 - val_loss: 0.3429 - val_accuracy: 0.8550
Epoch 94/200
200/200 [==============================] - 1s 3ms/step - loss: 0.3345 - accuracy: 0.8647 - val_loss: 0.3425 - val_accuracy: 0.8562
Epoch 95/200
200/200 [==============================] - 1s 3ms/step - loss: 0.3342 - accuracy: 0.8645 - val_loss: 0.3434 - val_accuracy: 0.8525
Epoch 96/200
200/200 [==============================] - 1s 3ms/step - loss: 0.3342 - accuracy: 0.8647 - val_loss: 0.3419 - val_accuracy: 0.8550
Epoch 97/200
200/200 [==============================] - 1s 3ms/step - loss: 0.3345 - accuracy: 0.8633 - val_loss: 0.3429 - val_accuracy: 0.8525
Epoch 98/200
200/200 [==============================] - 1s 3ms/step - loss: 0.3341 - accuracy: 0.8641 - val_loss: 0.3433 - val_accuracy: 0.8525
Epoch 99/200
200/200 [==============================] - 1s 3ms/step - loss: 0.3340 - accuracy: 0.8647 - val_loss: 0.3428 - val_accuracy: 0.8537
Epoch 100/200
200/200 [==============================] - 1s 3ms/step - loss: 0.3340 - accuracy: 0.8639 - val_loss: 0.3416 - val_accuracy: 0.8550
Epoch 101/200
200/200 [==============================] - 1s 3ms/step - loss: 0.3335 - accuracy: 0.8650 - val_loss: 0.3422 - val_accuracy: 0.8544
Epoch 102/200
200/200 [==============================] - 1s 3ms/step - loss: 0.3335 - accuracy: 0.8664 - val_loss: 0.3424 - val_accuracy: 0.8562
Epoch 103/200
200/200 [==============================] - 1s 3ms/step - loss: 0.3337 - accuracy: 0.8661 - val_loss: 0.3421 - val_accuracy: 0.8531
Epoch 104/200
200/200 [==============================] - 1s 3ms/step - loss: 0.3335 - accuracy: 0.8645 - val_loss: 0.3428 - val_accuracy: 0.8550
Epoch 105/200
200/200 [==============================] - 1s 3ms/step - loss: 0.3335 - accuracy: 0.8637 - val_loss: 0.3431 - val_accuracy: 0.8512
Epoch 106/200
200/200 [==============================] - 1s 4ms/step - loss: 0.3336 - accuracy: 0.8659 - val_loss: 0.3420 - val_accuracy: 0.8556
Epoch 107/200
200/200 [==============================] - 1s 3ms/step - loss: 0.3336 - accuracy: 0.8653 - val_loss: 0.3422 - val_accuracy: 0.8531
Epoch 108/200
200/200 [==============================] - 1s 3ms/step - loss: 0.3337 - accuracy: 0.8648 - val_loss: 0.3431 - val_accuracy: 0.8531
Epoch 109/200
200/200 [==============================] - 1s 3ms/step - loss: 0.3332 - accuracy: 0.8659 - val_loss: 0.3417 - val_accuracy: 0.8537
Epoch 110/200
200/200 [==============================] - 1s 3ms/step - loss: 0.3330 - accuracy: 0.8652 - val_loss: 0.3430 - val_accuracy: 0.8544
Epoch 111/200
200/200 [==============================] - 1s 3ms/step - loss: 0.3330 - accuracy: 0.8637 - val_loss: 0.3425 - val_accuracy: 0.8537
Epoch 112/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8666 - val_loss: 0.3417 - val_accuracy: 0.8556
Epoch 113/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3327 - accuracy: 0.8670 - val_loss: 0.3424 - val_accuracy: 0.8537
Epoch 114/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3330 - accuracy: 0.8661 - val_loss: 0.3414 - val_accuracy: 0.8562
Epoch 115/200
200/200 [==============================] - 1s 3ms/step - loss: 0.3328 - accuracy: 0.8653 - val_loss: 0.3420 - val_accuracy: 0.8544
Epoch 116/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8648 - val_loss: 0.3416 - val_accuracy: 0.8556
Epoch 117/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8653 - val_loss: 0.3413 - val_accuracy: 0.8531
Epoch 118/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8656 - val_loss: 0.3415 - val_accuracy: 0.8537
Epoch 119/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8669 - val_loss: 0.3420 - val_accuracy: 0.8531
Epoch 120/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8661 - val_loss: 0.3417 - val_accuracy: 0.8537
Epoch 121/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.8661 - val_loss: 0.3417 - val_accuracy: 0.8550
Epoch 122/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.8655 - val_loss: 0.3424 - val_accuracy: 0.8544
Epoch 123/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3322 - accuracy: 0.8645 - val_loss: 0.3413 - val_accuracy: 0.8544
Epoch 124/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8644 - val_loss: 0.3414 - val_accuracy: 0.8550
Epoch 125/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3321 - accuracy: 0.8648 - val_loss: 0.3417 - val_accuracy: 0.8531
Epoch 126/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3319 - accuracy: 0.8648 - val_loss: 0.3409 - val_accuracy: 0.8544
Epoch 127/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3321 - accuracy: 0.8667 - val_loss: 0.3412 - val_accuracy: 0.8531
Epoch 128/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8658 - val_loss: 0.3410 - val_accuracy: 0.8537
Epoch 129/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3319 - accuracy: 0.8652 - val_loss: 0.3411 - val_accuracy: 0.8550
Epoch 130/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3315 - accuracy: 0.8658 - val_loss: 0.3414 - val_accuracy: 0.8537
Epoch 131/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3315 - accuracy: 0.8656 - val_loss: 0.3429 - val_accuracy: 0.8531
Epoch 132/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8658 - val_loss: 0.3412 - val_accuracy: 0.8531
Epoch 133/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3310 - accuracy: 0.8661 - val_loss: 0.3407 - val_accuracy: 0.8550
Epoch 134/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8650 - val_loss: 0.3406 - val_accuracy: 0.8569
Epoch 135/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3319 - accuracy: 0.8634 - val_loss: 0.3420 - val_accuracy: 0.8537
Epoch 136/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3314 - accuracy: 0.8650 - val_loss: 0.3417 - val_accuracy: 0.8537
Epoch 137/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3316 - accuracy: 0.8644 - val_loss: 0.3413 - val_accuracy: 0.8519
Epoch 138/200
200/200 [==============================] - 0s 2ms/step - loss: 0.3314 - accuracy: 0.8652 - val_loss: 0.3418 - val_accuracy: 0.8550
Epoch 139/200

In [45]:
y_pred = classifier.predict(X_test)
y_pred

63/63 [==============================] - 0s 1ms/step

array([[0.04817194],
       [0.0156046 ],
       [0.14371832],
       ...,
       [0.6643939 ],
       [0.06474597],
       [0.2511151 ]], dtype=float32)

In [46]:
y_pred = (y_pred>0.5).astype(int)
y_pred

array([[0],
       [0],
       [0],
       ...,
       [1],
       [0],
       [0]])

In [47]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [48]:
acc = accuracy_score(y_test,y_pred)
acc

0.8625

In [49]:
cm = confusion_matrix(y_test,y_pred)
cm

array([[1548,   59],
       [ 216,  177]], dtype=int64)

In [50]:
tn = cm[0][0]
tp = cm[1][1]
fp = cm[0][1]
fn = cm[1][0]

In [51]:
acc_cm = (tp+tn)/(tp+tn+fp+fn)
acc_cm

0.8625

In [52]:
prec = tp/(tp+fp)
prec

0.75

In [53]:
rec = tp/(tp+fn)
rec

0.45038167938931295